<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" type= "text/css" rel="stylesheet" />
    <link href="{{ url_for('static',filename='styles/additem.css') }}" type= "text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>{{ title }} - Inventory Module</title>
</head>
<body>
    <div>
        Inventory Module: 
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('add') }}">Add Item</a>
    </div>
    <hr>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>