{% extends "base.html" %}

{% block content %}
    <h1>Inventory</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Half Day Price</th>
                <th>Day Price</th>
                <th>Week Price</th>
                <th>Month Price</th>
                <th>Total Items</th>
                <th>Available Items</th>
                <th>Delete Item</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td><a href="{{ url_for('update', id=item.id) }}">{{ item.name }}</a></td>
                <td>{{ item.description }}</td>
                <td>{{ item.halfDay }}</td>
                <td>{{ item.day }}</td>
                <td>{{ item.week }}</td>
                <td>{{ item.month }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.available }}</td>
                <td>
                    <a href="{{ url_for('delete', id=item.id ) }}"><span class="material-symbols-outlined">delete</span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
